* {
    box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #D8D8D8;

}

nav ul {
	width: 100%;
	height: auto;
	padding: 14px;
	background-color: #D8D8D8;
	display: inline-block;
}

nav li {
	display: inline;
	color: #000000;
	text-decoration: none;
	padding: 10px;
	font-size: 14px;
}

nav a {
	text-decoration: none;
	background-color: #D8D8D8;
	color: #000000;
}

nav a:hover {
	text-decoration: none;
	background-color: #BEBBCA;
	color: #000000;
	width: 100%;
	height: auto;
	padding: 10px;
	border: 2px solid #BEBBCA;
	border-radius: 5px;
}

.main-head, .head {
	margin-left: 30px;
}

.image-box {
	width: 1000px;
	margin: 0 auto;
}

figure {
	height: 540px;
}

figcaption {
	font-size: 12px;
}

.main-text {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 40px;
}

.top {
	width: 100%;
	height: 460px;
	background-color: #A29DB5;
}

.europe {
	height: 400px;
	margin-left: 200px;
	margin-top: 30px;
	float: left;
}

.intro {
	height: 400px;
	width: 45%;
	padding-left: 50px;
	margin-right: 100px;
	margin-top: 50px;
	float: left;
}

.clear {
	clear: both;
}

.icons {
	height: 350px;
	width: 1030px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.hollandpic, .englandpic, .scotlandpic, .icelandpic {
	padding-top: 15px;
	padding-bottom: 15px;

}

.hollandpic {
	padding-right: 30px; 
}

.englandpic {
	padding-right: 30px;
}

.scotlandpic {
	padding-right: 30px;
}

#hollandsec, #englandsec, #scotlandsec, #icelandsec {
	margin-left: 30px;
	height: 1000px;
	width: 100%;
}





@media screen and (max-width: 480px) {
	nav ul {
		padding: 0px, 0px;
		text-align: center;
	}

	nav li {
		width: 100%;
		float: left;
		text-align: center;
	}