* {
    box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: gray;

}

nav ul {
	width: 100%;
	height: auto;
	padding: 14px;
	background-color: gray;
	display: inline-block;
}

nav li {
	display: inline;
	color: #000000;
	text-decoration: none;
	padding: 10px;
	font-size: 14px;
}

nav a {
	text-decoration: none;
	background-color: gray;
	color: #000000;
}

nav a:hover {
	text-decoration: none;
	background-color: white;
	color: #000000;
	width: 100%;
	height: auto;
	padding: 10px;
	border: 2px solid #D8D8D8;
	border-radius: 5px;
}

.image-box {
	margin: 10px, 20px;
}

figure {
	height: 540px;
}

figcaption {
	font-size: 12px;
}





@media screen and (max-width: 480px) {
	nav ul {
		padding: 0px, 0px;
		text-align: center;
	}

	nav li {
		width: 100%;
		float: left;
		text-align: center;
	}